
<html>
<head>
    <title>Blog</title>
	<meta charset="utf-8" />
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}" type = "text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
	
</head>
<body>
<div class="container" id="wrapper">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><button type="" class="btn btn-primary" style="margin-top:-8px">Brand</button></a>
    </div>
  
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><button type="button" class="btn btn-success"style="margin-top:8">log out</button></li>
      <ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>	
   <div class="container">
    <div class="row ">
        <div class="col-md-9">
           <div class="row">
             <div class="col-md-8 " style="border-bottom: 1px solid lightgrey;"> 
               <h4 style="color:purple;"> title of the post</h4>
             </div>
           </div>
           <div class="row" style="margin-top:1px; margin-bottom:1px;">
             <div class="col-md-3" >  
              <i class="fa fa-user" aria-hidden="true"> by : Account Holder </i>
             </div>
             <div class="col-md-3" > 
              <i class="fa fa-calendar-o" aria-hidden="true"> January 23,2018</i>
             </div>
           </div>
           <div class="row">
             <div class="col-md-8 " style="border-bottom: 1px solid lightgrey;border-top: 1px solid lightgrey;"> 
               <p style="margin: 10px 1px;"> {% block content %}
                {% endblock %}</p>
             </div>
           </div>
         </div>
        <div class="col-md-2" style="border: 1px solid lightgrey">Column right advertisments</div>
    </div>
  </div>
</body>
</html>
